<!--Chat init-->
<div class="card p-1">

    <h2 class="text-dark">Chat Messages</h2>

    <div class="container-chat text-dark">
        <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
        <p>Hello. How are you today?</p>
        <span class="time-right text-dark">11:00</span>
    </div>

    <div class="container-chat bg-dark text-light">
        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="container-chat text-dark">
        <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right text-dark">11:02</span>
    </div>

    <div class="container-chat bg-dark text-light">
        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left">11:05</span>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Dí algo" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
        </div>
    </div>
</div>
<!--Chat end-->

