<div class="fondobosque">
  <div class="my-5 ">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/vitalmind-logo" class="d-block w-100" alt="...">
        </div>
        <!-- <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div> -->
      </div>
    </div>
  </div>
</div>    
<!--Why us? init-->
<div class="container container-margin rounded container-bg ">
  <div class="row">
    <div class="col text-center">
      <h2 class="text-font ">¿Por qué unirte a Vitalmind?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span class="material-icons icons-size"> question_answer </span>
      <p class="text-font">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        consectetur facere cupiditate quos iusto tempore quod ipsum
        repudiandae accusantium, nisi veritatis reiciendis nam possimus
        omnis ipsa suscipit optio sunt molestiae!
      </p>
    </div>

    <div class="col">
      <p class="text-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        natus modi nobis, consequuntur ut voluptatum voluptate. Laboriosam
        sit inventore, repellat error, nesciunt aliquid officiis, dolores in
        quod natus consectetur cumque.
      </p>
      <span class="material-icons icons-size"> find_in_page </span>
    </div>

    <div class="col">
      <span class="material-icons icons-size"> insert_emoticon </span>
      <p class="text-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        natus modi nobis, consequuntur ut voluptatum voluptate. Laboriosam
        sit inventore, repellat error, nesciunt aliquid officiis, dolores in
        quod natus consectetur cumque.
      </p>
    </div>

    <div class="col">
      <p class="text-font">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        natus modi nobis, consequuntur ut voluptatum voluptate. Laboriosam
        sit inventore, repellat error, nesciunt aliquid officiis, dolores in
        quod natus consectetur cumque.
      </p>
      <span class="material-icons icons-size"> rowing </span>
    </div>
  </div>

  <div class="row">
    <div class="col text-center register-text">
      <button type="button" class="btn btn-outline-dark btn-margin">
        <a routerLink="/signup">Registrate</a>
      </button>
    </div>
  </div>
</div>
<!--Why us? end-->

<!-- Vimeo init-->
<div class="container text-font">
  <div class="row pb-5 mb-5">
    <div class="col-12 col-md-6 container-pading  mb-3">
      <div class="text-center container-margin">
        <iframe src="https://player.vimeo.com/video/145111931" width="540" height="260" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <!-- Viemo end-->
      <app-chat></app-chat>
      <app-tree></app-tree>
    </div>
    
    
    <!--Col Right init-->
    <div class="col-12 col-md-6">
      <div class="container container-bg container-pading container-margin">
        <div class="row">
          <div class="col">
            <h3 class="text-center">Casos de éxito</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="assets/img/succes-girl.jpg" class="succes-img rounded" alt="" />
          </div>
          <div class="col aling-items-center">
            <p>Camila</p>
            <p>25 años</p>
          </div>
          <div class="container">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              aspernatur id ullam aliquam animi neque eius mollitia quaerat
              quis. Libero obcaecati delectus aperiam et, necessitatibus
              incidunt possimus quia deserunt at.
            </p>
          </div>
        </div>
      </div>
      <!--Playlist init-->
      <div class="text-center playlist">
        <iframe src="https://open.spotify.com/embed/album/44Ig8dzqOkvkGDzaUof9lK" width="480" height="320"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <!--<iframe src="https://open.spotify.com/embed/album/4owrox6fGHGbH3GfyjdfTo" width="460" height="300"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
      </div>
      <!--Playlist end-->
      <!--Our Areas init-->
      <div class="container container-bg container-margin container-pading text-font">
        <div class="row">
          <div class="col text-center">
            <h2 class="text-font">Nuestras Areas</h2>
          </div>
        </div>
        <div class="d-flex flex-column bd-highlight mb-3 text-center">
          <div class="p-2 bd-highlight "> <strong>ANSIEDAD</strong>
            <span class="material-icons icons-size d-flex justify-content-center">
              self_improvement
            </span>
          </div>

          <div class="p-2 bd-highlight"><strong>DEPRESIÓN</strong>
            <span class="material-icons icons-size d-flex justify-content-center">
              sentiment_dissatisfied
            </span>
          </div>

          <div class="p-2 bd-highlight"><strong>IRA</strong>
            <span class="material-icons icons-size d-flex justify-content-center">
              local_fire_department
            </span>
          </div>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-warning btn-margin">
            <h2 class="text-font">Escribenos</h2>
          </button>
        </div>
      </div>
    </div>
    <!--Our Areas end-->

  </div>
  <!-- Col Rigth end-->
</div>

