<!-- Footer -->
<footer class="page-footer font-small footer-bg pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Vitalmind</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, fugiat corrupti? Rerum doloribus ut
                itaque id corrupti ea culpa explicabo sequi magni mollitia natus, rem nisi sit nihil, iste eos!</p>
        </div>
        <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">



            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Useful links</h2>
            <p>
                <a href="#!">Your Account</a>
            </p>
            <p>
                <a routerLink="/signup"> Become a vitalmind member </a>
            </p>

            <p>
                <a href="#!">Help</a>
            </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h2 class="text-uppercase mb-4 font-weight-bold">Contact</h2>
                <p>
                    <i class="fas fa-home mr-3"></i> Bogotá, Colombia</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> vitalmind@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 57 311 567 8795</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 57 312 567 8995</p>
            </div>
            <!-- Grid column -->



            <!-- Grid row -->
            <div class="row d-flex align-items-center">


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
    </div>
</footer>
<!-- Footer -->