<div class="fondobosque">
    <div class="w-100">
        <!--Carrusel-->
        <div id="carouselExampleControls" class="carousel slide my-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="assets/img/depresion.jpg" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/depresion2222.jpg" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/depresion444.jpg" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
                <div>
                    <img src="img/fondo.jpg" alt="">
                </div>
            </a>
        </div>

    </div>
</div>
<br>
<div>
    <!--Imagenes-playlist-animacion-chat-->
    <div class="container text-font">
        <div class="row pb-5 mb-5">
            <div class="col-12 col-md-6 container-pading mb-3">
                <div class="text-center container-margin">
                    <iframe src="https://open.spotify.com/embed/album/44Ig8dzqOkvkGDzaUof9lK" width="480" height="320"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <!-- Viemo end-->
                <app-chat></app-chat>
                <app-tree></app-tree>
            </div>

            <div class="col-12 col-md-6">
                <!--Primer cuadro-->
                <div class="contenedor">
                    <div class=" d-flex flex-column justify-content-end">
                    </div>
                    <h2 class="tituloDesarrollo">Depresión</h2>
                    <h3 class="slogan">¿Qué es?</h3>
                    <p class="parrafos">
                        La depresión es un trastorno mental frecuente, que se caracteriza por la presencia de tristeza, pérdida de interés o placer, sentimientos de culpa o falta de autoestima, trastornos del sueño o del apetito, sensación de cansancio y falta de concentración.La depresión puede llegar a hacerse crónica o recurrente y dificultar sensiblemente el desempeño en el trabajo o la escuela y la capacidad para afrontar la vida diaria. En su forma más grave, puede conducir al suicidio. Si es leve, se puede tratar sin necesidad de medicamentos, pero cuando tiene carácter moderado o grave se pueden necesitar medicamentos y psicoterapia profesional.
                    </p>
                </div>
                <br>
                <div>
                    <!--Segundo cuadro-->
                    <div class="contenedor2">
                        <div class=" d-flex justify-content-end">
                        </div>
                        <h1 class="subtitulo">¿Cómo majenarlo?</h1>
                        <p class="parrafos2">
                            1. Ejercicio físico. Anda a paso ligero de 15 a 30 minutos cada día, o baila, corre o monta en bicicleta, si lo prefieres
                            <br>
                            2.Cuídate alimentándote bien. La depresión puede afectar al apetito. Cuando están deprimidas, a algunas personas no les apetece nada comer, pero hay otras pueden comer demasiado.
                            <br>
                            3. Identifica los problemas, pero no les des vueltas. Intenta identificar las circunstancias que han contribuido a tu depresión
                            <br>
                            4. Exprésate. Cuando una persona está deprimida, puede tener bloqueadas la creatividad y la capacidad para disfrutar de las cosas.
                            <br>
                            5. Intenta fijarte en el lado positivo de las cosas. La depresión repercute sobre los pensamientos de las personas, haciendo que todo parezca negro, desastroso, triste y negativo. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>